body{
    padding-top: 30px;
    background-color: rgb(70, 69, 69);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    margin-top: 20px;
    color: wheat;
    text-decoration: none;
    padding: 5px;
    border: 2px solid red;
}
button{
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: brown;
    /* background-color: rgba(0, 0, 255, 0.349); */
    border-radius: 10px;
}
